.checkout-product img {
  width: 200px;
}

svg {
  width: 20px;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 20px;
}

.checkout-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  column-gap: 5px;
}

.checkout-body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

@media (max-width: 975px) {
  .product-info-item {
    margin-right: 0.5rem;
  }
  .product-info-item .button {
    width: 100%;
  }
  .product-info-item .btn-save {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .product-info-item button:nth-child(2) {
    width: 100%;
  }
  .transport-box {
    text-align: center;
  }
  .transport-box p {
    font-size: 0.8rem;
  }
}
