.heading {
  text-align: center;
  margin-bottom: 1.5rem;
}

.brand-container {
  background: var(--second-color);
  padding: 50px 0;
}

.brand-content {
  max-width: 800px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  gap: 1rem;
}

.brand-box {
  background: var(--bg-color);
  border-radius: 1.5rem;
  display: grid;
  justify-content: center;
}

.brand-box img {
  width: 100px;
  height: 85px;
  object-fit: contain;
}
