header {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 400;
}

.background {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: -36%;
  left: 0%;
  background: rgba(48, 48, 48, 0.459);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: all 0.4s ease-in-out;
  z-index: 500;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 10px 12px;
  border-radius: 5rem;
  box-shadow: 0 6px 64px 0 hsla(221, 47%, 31%, 0.06);
}

.logo img {
  width: 120px;
}

.navbar {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  position: relative;
}

.nav-link {
  font-size: 0.88rem;
  color: var(--text-color);
  font-weight: 500;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link:hover {
  color: var(--text-neutral);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-right {
  display: flex;
  align-items: center;
  column-gap: 10px;
  position: relative;
}

.nav-right i {
  font-size: 18px;
  background: var(--text-neutral-3);
  color: var(--text-color);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.search-wrapper {
  position: fixed;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.search-bar {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: all 0.4s ease-in-out;
}

.open-search {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: all 0.4s ease-in-out;
}

.search-result-container {
  position: absolute;
  top: 100%;
  width: 99%;
  background: var(--bg-color);
  border-radius: 0 0 5px 5px;
}

.search-result-list {
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 0 0 5px 5px;
}

.search-result-list a {
  padding: 0.3rem 0;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border-radius: 0.5rem;
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 0.9rem;
  transition: all 0.4s ease-in-out;
}

.search-bar input:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--main-color);
  font-size: 1rem;
}

.search-bar input::placeholder {
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 500;
}

.search-bar i {
  position: absolute;
  right: 10px;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
}

.login-btn {
  border: none;
}

.login-btn:focus {
  outline: none;
}

.login-btn {
  background: var(--main-color);
  color: var(--bg-color);
  padding: 8px 14px;
  border-radius: 5rem;
  font-size: 0.9rem;
  transition: background 0.4s ease-in-out;
}

.login-btn:hover {
  background: var(--text-color);
}

.mobile-login {
  display: none;
}

.menu-icon {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  cursor: pointer;
  padding: 10px;
  background: var(--main-color);
  border-radius: 50%;
  z-index: 200;
  transition: 0.3s;
}

.menu-icon div {
  display: block;
  width: 20px;
  height: 2px;
  background: var(--bg-color);
  border-radius: 5px;
  transition: 0.3s;
}

.move .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.move .line2 {
  opacity: 0;
}

.move .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.cart-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: var(--main-color);
  border-radius: 0.2rem;
  overflow: hidden;
  cursor: pointer;
}

.cart-icon i {
  background: transparent;
  color: var(--bg-color);
  font-weight: 500;
  padding-right: 0.1rem;
}

.cart-icon .basket-quantity {
  border: 2px solid var(--main-color);
  border-radius: 0 0.2rem 0.2rem 0;
  background: var(--bg-color);
  justify-content: center;
  align-self: stretch;
  align-items: center;
  margin-left: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1;
  display: flex;
}

.cart-dropdown {
  position: absolute;
  top: 130%;
  right: 0;
  width: 130%;
  background: var(--bg-color);
  border-radius: 1rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  max-height: 500px;
}

.open-cart {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cart-dropdown .header-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #e6e6e6;
}

.header-cart p {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-neutral);
}

.header-cart span {
  font-size: 0.8rem;
  color: var(--text-neutral);
  font-weight: 500;
  cursor: pointer;
}

.cart-list-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #e6e6e6;
  overflow-y: auto;
  flex-direction: column;
}

.cart-item-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  margin-bottom: 1rem;
  width: 100%;
  max-height: 182px;
  height: 100%;
  padding: 1.2rem 0;
}

.cart-item-row.blink-out {
  animation: blinkOut 1s ease-in-out forwards;
}

@keyframes blinkOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    transform: scale(0.99);
  }
}

.cart-item-img-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.2rem;
  background: var(--bg-color);
}

.cart-item-row img {
  width: 100%;
  border-radius: 0.2rem;
  display: block;
  margin-bottom: 1rem;
}

.cart-item-quantity-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-item-quantity-wrapper p {
  margin-right: 0.2rem;
}

.cart-item-quantity-wrapper input {
  border-radius: 0.2rem;
  text-align: center;
  border: 1px solid #ece4e4;
  font-size: 1rem;
  width: 70%;
  height: 30px;
  background: #fafafa;
}

.cart-item-details {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.cart-item-details div {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.cart-item-details h3 {
  font-size: 1.3rem;
  font-weight: 700;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.cart-item-details p {
  font-size: 0.9rem;
  font-weight: 500;
  opacity: 0.7;
  margin-top: 0.3rem;
}

.cart-item-details .btn-remove {
  border: 1px solid #c19b7c;
  color: #c19b7c;
  border-radius: 1rem;
  padding: 0 0.4rem;
  font-size: 0.7rem;
  background: transparent;
  width: 60%;
  height: 12%;
  cursor: pointer;
}

.cart-footer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.cart-footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.cart-footer div span {
  font-size: 1.2rem;
  color: var(--text-neutral);
  font-weight: 600;
}

.cart-footer .btn {
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.7rem 0;
}

.empty-cart {
  height: 300px;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-cart p {
  font-size: 1.2rem;
  padding: 0.9rem 0;
  font-weight: 600;
}

.empty-cart button {
  background: var(--main-color);
  color: var(--bg-color);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  transition: background 0.4s ease-in-out;
  border: none;
}
.empty-cart button:hover {
  transform: scale(1.05);
}

@media (max-width: 795px) {
  .cart-item-details .btn-remove {
    width: 80%;
  }
  .cart-item-details h3 {
    font-size: 1rem;
    font-weight: 600;
  }
}

@media (max-width: 605px) {
  .cart-item-details .btn-remove {
    width: 80%;
  }
  .cart-item-row {
    margin-bottom: 0;
    padding: 0.5rem 0;
  }
}
